<div class="center flex-centered-item">
    <div class="font-size w3-text-gray">404</div>
    <!-- con la classe absolute centered posso sovrapporre i due div -->
    <div class="absolute-centered w3-text-teal">
        <h1 class="w3-margin">Page&nbsp;Not&nbsp;Found!</h1>
        <p class="w3-margin">Oops! Sembra che tu abbia seguito un&nbsp;link&nbsp;errato.</p>
        <p class="w3-margin">Se credi sia un nostro problema, perfavore&nbsp;<a href="#" class="w3-text-deep-orange">contattaci</a>.</p>
        <p class="w3-margin">Questo, invece, è il link alla <a href="/" class="w3-text-deep-orange">home page</a>.</p>
    </div>
</div>