<section style="background-color: #000000">
    <style>
    .banner{
        display: none;
    }
    nav{
        display: none;
    }
    footer{
        display: none;
    }
    #header{
        display: none;
    }
    #logo1{
        display: none;
    }
    #logo2{
        display: none;
    }
    </style>
  <div class='container'>
        <div class='w3-container content'>
          <div class='l12'></div>
          <div class='l12'>
            <h1>404</h1>
            <h2>Oops, the page you're looking for does not exist.</h2>
            <p>
              You may want to head back to the homepage.
              <br>
                If you think something is broken, report a problem.
              </br>
            </p>
            <span class='btn'><a href="/">RETURN HOME</a></span>
            <span class='btn'><a href="mailto:info@sitotranquillo.it?&subject=info%20contatto&body=Salve,%20la%20contatto%20per%20....." target="_top">REPORT PROBLEM</a></span>
          </div>
        </div>
      </div>
      <div class='bg-img'></div>
    
</section>