@charset "UTF-8";

/*import Reset */
    @import url(reset.css);
/*IMPORT W3C.css*/
    @import url(w3c.css);
/*IMPORT ICONE di font-awesome*/
    @import url(font/font-awesome/css/font-awesome.css);

header ul{
    display: inline;
}

.center{
    width: auto;
    text-align: center!important
}

.margin-top-1{
    margin-top: 1cm;
    }
    
.margin-top-2{
    margin-top: 2cm;
    }

.pa-15 {
    padding: 1.07143rem !important;
    }


/* Header */

    header {
        clear: both;
    /*padding: 6em 0 4em 0;*/
    }
    
    /* Contenitore up dove ci sono i contatti e la parte login carello */
    .container_up {
        padding: 0.01em 16px;
        margin: 10px auto 6px auto;
        }
        @media (min-width: 768px) {
            .container_up {
        width: 750px;
        }
        }
        @media (min-width: 997px) {
            .container_up {
            width: 950px;
        }
        }
        @media (min-width: 1200px) {
            .container_up {
            width: 1170px;
            }
        }
    
        @media only screen and (min-width: 978px) {
                #logo1 { 
                    display: block;
                    max-width: 100%;
                    margin: 8px auto 20px auto;
                    height: auto;
                    }
                #logo2 { 
                    display: none
                    }
                }
                
        @media only screen and (min-width: 480px) and (max-width: 977px) {
                #logo1 {
                    display: block;
                    max-width: 90%;
                    margin: 8px auto 20px auto;
                    height: auto;
                    }
                #logo2 {
                    display: none
                    }
                }
                
        @media only screen and (max-width: 479px) { 
                #logo1 {
                    display: none
                    }
                #logo2 {
                    display: block;
                    max-width: 60%;
                    min-width: 40%;
                    margin: auto auto 20px auto;
                    height: auto
                    }
                }
/* NAV */
/* Footer */
    #footer {
    text-align: center;
    padding: 4em 0 4em 0;
    }

        #footer:before {
        content: '';
        border-top: solid 1px rgba(255, 255, 255, 0.25);
        width: 10em;
        display: block;
        margin: 0 auto 3em auto;
    }

        @media screen and (max-width: 1280px) {

            #footer {
                padding: 2em 0 2em 0;
        }

    }

/* Login - Logon */
    .autenticazione{
        padding: 15px 0 20px 0;
    }    

    .login{
        float: left;
        max-width: 100%;
        display: inline-block;
        margin: 20px auto 10px auto;
    }

    .logon{
        float: right;
        max-width: 100%;
        display: inline-block;
        margin: 20px auto 10px auto;
    }

    .centraggio-pagina{
        max-width: 1500px;
        margin: auto;
    }

    .button-login{
        float: right;
        margin: 30px auto 30px auto;
    }

/* About */
    
    .text-colon{
        padding-top: 20px;
        column-count: 3;
        column-gap: 20pt;
        column-rule: 1px solid #aaa;
        }

    .team-member {
        font-size: 16px;
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        padding-left: 1em;
        padding-right: 1em;
        margin-bottom: 25px;
    }

    .team-member-name {
        margin: 16px 0 0;
        font-family: "PT Sans";
        font-size: 18px;
        font-weight: 700;
    }

    .team-member-title {
        margin: 0;
        font-family: "Source Sans Pro";
        font-size: 14px;
        font-weight: 600;
        line-height: 2;
        color: #69656e;
    }

/* 404 */


.min-height-100vh {
	min-height: 100vh;
}

.height-100x {
	height: 100%;
}

.flex-centered {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-centered-item {
	flex: 1;
}

.absolute-centered {
	position: absolute !important;
	top: 50% !important;
	left: 50% !important;
    transform: translate(-50%, -50%);
}

/* Media query per resizy font del 404 */
@media only screen and (min-width: 992px) {
    .font-size {
        font-size: 30rem !important;
    }
}
@media only screen and (min-width: 577px) and (max-width: 991px) {
    .font-size{
        font-size: 17.14286rem !important;
    }
}
@media only screen and (max-width: 576px){
    .font-size{
        font-size: 12.85714rem !important;
    }
}

.conserva{
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
	-ms-flex-pack: center;
}

