<div class="w3-container w3-padding">
    <!-- Container up -->
    <div class="w3-row">
        <!-- primo container a sinistra -->
        <div class="w3-col l4 w3-container w3-deep-orange w3-display-container" style="height: 10vh;">
            <div class="w3-display-middle">
                <h3>Sito Tranquillo admin Panel</h3>
            </div>
        </div>
        <!-- Secondo container al centro -->
        <div class="w3-col l4 w3-container w3-display-container" style="height: 10vh;">

            <div class="w3-display-middle w3-show-inline-block">
                <a href="/"><img src="icons/sito-tranq-favicon.png"></img>
                </a>
                <!-- <input class="w3-show-inline-block" type="search" name="cercaAdmin" id="cercaAdmin" type="text" size="30" placeholder="Cerca qualcosa..." / autofocus> -->
            </div>

        </div>
        <!-- Terzo container a destra -->
        <div class="w3-col l4 w3-container w3-light-gray w3-display-container" style="height: 10vh;">
            <div class="w3-display-middle">
                <ul>
                    <li class="w3-show-inline-block w3-margin-right">
                        <a href="#" class="w3-padding-16"><i class="fa fa-th fa-2x" aria-hidden="true" style="color:#d9696a;"></i></a>
                    </li>
                    <li class="w3-show-inline-block w3-margin-right">
                        <a href="#" class="w3-padding-16"><i class="fa fa-bar-chart fa-2x" aria-hidden="true" style="color:#5CEC57;"></i></a>
                    </li>
                    <li class="w3-show-inline-block w3-margin-right">
                        <a href="#" class="w3-padding-16"><i class="fa fa-bell-o fa-2x" aria-hidden="true"></i></a>
                    </li>
                    <li class="w3-show-inline-block w3-margin-right">
                        <a ui-sref="settaggi" class="w3-padding-16"><i class="fa fa-gears fa-2x" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Tools bar -->
    <div class="w3-bar w3-border w3-dark-gray">
        <div class="w3-col">
            <a href="/" class="w3-col l4 m4 s12 w3-bar-item w3-button w3-padding-16"><i class="fa fa-home fa-2x" aria-hidden="true"></i><h4><i class="fa fa-arrow-left" aria-hidden="true"></i>
                HOME</h4></a>
            <a ui-sref="listaUtenti" class="w3-col l4 m4 s12 w3-bar-item w3-button w3-padding-16"><i class="fa fa-users fa-2x" aria-hidden="true"></i><h4>UTENTI</h4></a>
            <a ui-sref="admin" class="w3-col l4 m4 s12 w3-bar-item w3-button w3-padding-16"><i class="fa fa-shopping-bag fa-2x" aria-hidden="true"></i><h4>PRODOTTI</h4></a>
        </div>
    </div>

</div>