<h3>Reset Password</h3>
<div ng-show="tokenValido === true && rispostaGiusta != 1 && pwResettata !=1">
    Ciao {{$ctrl.nome_utente}}, per resettare la password rispondi alla tua domanda segreta.
    <form ng-submit="$ctrl.validaRisposta()">
        <label for="risposta">{{$ctrl.utente.domanda_segreta}}</label>
        <input type="text" required name="risposta" id="risposta" ng-model="$ctrl.risposta" />
        <input type="submit" value="Controlla risposta">
    </form>
</div>
<div ng-show="tokenValido === false">
    Token non valido, <a href="/">torna alla home</a>.
</div>
<div ng-show="rispostaGiusta === 1 && pwResettata != 1">
    <form ng-submit="$ctrl.resetPwd()">
        <label for="password">Password</label>
        <input type="password" required name="password" id="password" ng-model="$ctrl.password" />
        <label for="conferma">Conferma Password</label>
        <input type="password" required name="conferma" id="conferma" ng-model="$ctrl.conferma" />

        <input type="submit" value="Cambia Password">
    </form>
</div>
<div ng-show="rispostaGiusta === 0 && pwResettata != 1">
    Risposta errata.
</div>
<div ng-show="pwResettata === 1">
    Password resettata correttamente. <a href="/autenticazione">Torna alla pagina di login</a>
</div>
<div ng-show="pwResettata === 0">
    Errore nel reset della password.
</div>