<!-- blocco sinistro -->
<div class="w3-show-inline-block w3-left w3-hide-small">
    <div class="w3-show-inline-block w3-hide-small w3-hide-medium">
        <a href="tel:0039-000-000-0000" title="Tel: (+39) 00 000 000 00"><button class="w3-btn w3-red"><i class="fa fa-phone fa-lg" aria-hidden="true"></i> Tel: (+39) 00 000 000 00</button></a>
    </div>
    <div class="w3-show-inline-block w3-hide-small">
        <a href="mailto:info@sitotranquillo.it?&subject=info%20contatto&body=Salve,%20la%20contatto%20per%20....."><button class="w3-btn w3-blue"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i> Scrivici una e-Mail</button></a>
    </div>
</div>
<!-- blocco destro -->
<div class="w3-show-inline-block w3-right w3-hide-small">
    <a href="/autenticazione"><button class="w3-btn w3-green"><i class="fa fa-sign-in fa-lg" aria-hidden="true"></i> Login</button></a>
</div>
<!-- Quando è small viene visualizzato questo div -->
<div class="w3-hide-large w3-hide-medium">
    <a class="w3-hide-large w3-hide-medium" href="/autenticazione"><button class="w3-btn w3-green"><i class="fa fa-sign-in fa-lg" aria-hidden="true"></i> Login</button></a>
</div>
