<section style="background-color: #000000">
  <div class='container'>
        <div class='w3-container content'>
          <div>
            <h1>404</h1>
            <h2>Oops, the page you're looking for does not exist.</h2>
            <p>
              You may want to head back to the homepage.
              <br>
                If you think something is broken, report a problem.
              </br>
            </p>
            <a href="/"><button class="btn404" target="_top">RITORNA ALLA HOME</button></a>
            <a href="mailto:info@sitotranquillo.it?&subject=info%20contatto&body=Salve,%20la%20contatto%20per%20....." target="_top"><button class="btn404">REPORT PROBLEM</button></a>
          </div>
        </div>
      </div>
      <div class='bg-img'></div>
</section>