<section style="background-color: #000000">
    <div class='container'>
          <div class='w3-container content'>
            <div>
              <h1 style="color: violet"><span class="">></span> 401</h1>
              <h2 class="w3-text-green"><b>UNAUTHORIZED</b></h2>
              <h2 style="color: violet">Non sei loggato, <a ui-sref="autenticazione"><span class="w3-tag w3-black w3-text-green">vai a loggarti</span></a> e riprova!!</h2>
            </div>
          </div>
        </div>
        <div class='bg-img-401'></div>
  </section>