<!-- Footer -->
<footer class="w3-text-white w3-teal center">
    <section class="w3-row">
        <div class="w3-col l4 m4 s12">
            <div>
                <h4>Seguici su</h4>
                <div>
                    <a href="#" target="_blank"><i class="fa fa-facebook fa-2x margin-left-right" aria-hidden="true"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-google-plus fa-2x margin-left-right" aria-hidden="true"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-twitter fa-2x margin-left-right" aria-hidden="true"></i></a>
                </div>
                <h5>cogli le offerte per primo</h5>
                <div>
                    <a href="https://t.me/telegram" target="_blank"><i class="w3-margin-bottom fa fa-telegram fa-2x" aria-hidden="true"></i></a>
                </div>
            </div>
            <hr class="w3-card-4 w3-hide-large w3-hide-medium">
        </div>



        <div class="w3-col l4 m4 s12">
            <div>
                <h4>Info utili</h4>
                <ul>
                    <li><a href="/about">Chi siamo</a></li>
                    <li><a href="/condizioni">Condizioni di vendita</a></li>
                    <li><a href="#">Programmi di affiliazione</a></li>
                    <li><a href="#">Opinioni dei Clienti</a></li>
                    <li><a href="#">Area stampa</a></li>
                </ul>
            </div>
            <hr class="w3-card-4 w3-hide-large w3-hide-medium">
        </div>



        <div class="w3-col l4 m4 s12">
            <h4>Pagamenti</h4>
            <div>
                <span>
                        <picture><img height="60" width="60" src="images/carte-di-credito/paypal.png"></img></picture>
                        <picture><img height="60" width="60" src="images/carte-di-credito/master-card.png"></img></picture>
                    </span>
            </div>
            <div>
                <span>
                        <picture><img height="60" width="60" src="images/carte-di-credito/american-express.png"></img></picture>
                        <picture><img height="60" width="60" src="images/carte-di-credito/visa.png"></img></picture>
                    </span>
            </div>
            <div>
                <a href="https://t.me/shopbot">Telegram shop bot</a></li>
            </div>

        </div>
    </section>

    <section class="wrapper-footer w3-border-top">
        <div class="w3-small pa-15">
            <div class="" style="float: left;">
                <span>© 2017 Sito Tranquillo S.r.l. P.IVA: 00000000000 | Cap. Soc.: € 0.10 non in liquidazione - <code>GNU's not Unix.</code></span>
            </div>
            <div style="float: right;">
                <span>Webmaster<a target="_blank" href="https://github.com/ecommerce-unicam"><strong>  Ecommerce-Unicam</strong></a></span>
            </div>
        </div>
    </section>
</footer>