<section class="wrapper w3-padding w3-container">
    <h2 class="margin-top-1 margin-bottom-1 w3-center">Carrello</h2>

    <div class="w3-row">
        <label class="w3-col l2 w3-left-align">Immagine</label>
        <label class="w3-col l3 w3-center">Prodotto</label>
        <label class="w3-col l2 w3-center">Prezzo</label>
        <label class="w3-col l1 w3-center">Quantità</label>
        <label class="w3-col l2 w3-center">Rimuovi</label>
        <label class="w3-col l2 w3-right-align">Totale</label>
    </div>

    <hr>

    <div class="w3-row">
        <div class="w3-col l2 w3-left-align">
                <img src="https://s.cdpn.io/3/dingo-dog-bones.jpg" style="width: 150px;"/>
            <!-- <img src="../../../images/uploads/{{elemento.urlImmagine}}" /> -->
        </div>
        <div class="w3-col l3">
            <div class=""><a href=""> Pinco pallo</a></div>
            <p class=""> lksndkasndjakfadsjfjsfjsbdjfsdjvbsdkbvd
            </p>
        </div>
        <div class="w3-col l2 w3-center"> 100 €</div>
        <div class="w3-col l1">
            <input type="number" value="2" min="1">
        </div>
        <div class="w3-col l2 w3-center">
            <button class="">Remove</button>
        </div>
        <div class="w3-col l2 w3-right-align">Totale quantità</div>
    </div>

    <hr>

    <button class="">Svuota Carrello</button>
    <label>*Si avvisa che il carrello sarà svuotato ogni giorno alla mezzanotte</label>

    <div class="">
        <div class="">
          <label>Totale provvisorio:</label>
          <div class="">71.97</div>
        </div>
        <div class="">
          <label>Tax (22%)</label>
          <div class="">-</div>
        </div>
        <div class="">
          <label>Spese spedizione:</label>
          <div class="">15.00</div>
        </div>
        <div class="">
          <label>Totale finale:</label>
          <div class="">90.57</div>
        </div>
      </div>
          
          <button class="">Acquista</button>

</section>