<section>
    <div class="wrapper center w3-padding">
        <hgroup>
            <h2 class="w3-text-teal"><strong>About Sito Tranquillo</strong></h2>
            <h4>Si, ma la sbiriguda della sbrindellona come se fosse antani come faceva? Prego? Ho provato con la supercazzola con scappelamento paraplegico a sinistra, ma non funzionava.</h4>
        </hgroup>
        <p class="text-colon">
            Ah, pardon. Tarapio tapioco come se fosse Antani, la supercazzola prematurata con dominus reveriscum blinda. Come, prego? Tarapio sulla supercazzola con scappellamento destro o sinistra ? Che non si ripeta più, vada pure! Senz'altro!!! Tarapia tapioco!
            Brematurata la supercazzola o scherziamo? Prego? No, mi permetta. No, io, scusi noi siamo in quattro. Come se fosse antani anche per lei soltanto in due, oppure in quattro anche scribai con cofandina; come antifurto, per esempio. Mo basta
            insomma! Qui c’è gente che soffre per davvero, lo capite? Chiamo il medico di turno e domani ve la vedrete con il professore! Dimmi figliolo. Sbiliguda veniale con la supercazzola prematurata. Come figliolo? Confesso come fosse antani con
            scappellamento a destra costantinato ammaliti. Che non si ripeta più, vada pure! Senz'altro!!! Tarapia tapioco! Brematurata la supercazzola o scherziamo? Prego? No, mi permetta. No, io, scusi noi siamo in quattro.
        </p>
    </div>

    <div class="center margin-top-2 margin-bottom-1 w3-card-4">
        <h2 class="w3-padding w3-text-teal">The "A-Team"</h2>
        <div class="w3-padding hover-teal">
            <!--RICCARDO CANNELLA-->
            <div class="team-member">
                <img src="images/admin/rik.jpg" alt="Riccardo" class="w3-mobile w3-card-2 w3-round w3-hover-sepia" width="auto" height="350">
                <h5 class="team-member-name">Riccardo Cannella</h5>
                <p class="team-member-title">MongoDB, Nodejs, AngularJs</p>
            </div>
            <!--CORRADO PETRELLI-->
            <div class="team-member">
                <img src="images/admin/Murdock.jpg" alt="Corrado" class="w3-mobile w3-card-2 w3-round w3-hover-grayscale" width="auto" height="350">
                <h5 class="team-member-name">Corrado Petrelli</h5>
                <p class="team-member-title">Nodejs, AngularJs</p>
            </div>
            <!--ANDREA SALVATORI-->
            <div class="team-member">
                <img src="images/admin/andrea.jpg" alt="Andrea" class="w3-mobile w3-card-2 w3-round w3-hover-sepia" width="auto" height="350">
                <h5 class="team-member-name">Andrea Salvatori</h5>
                <p class="team-member-title">Html, CSS, AngularJs</p>
            </div>
            <!--MICHELE BIONDI-->
            <div class="team-member">
                <img src="images/admin/stallman.png" alt="Michele" class="w3-mobile w3-card-2 w3-round w3-hover-grayscale" width="auto" height="350">
                <h5 class="team-member-name">Michele Biondi</h5>
                <p class="team-member-title">
                    <quote>"Gentoo? GENTOOOOOOOOOOOOOOOOO"</quote>
                </p>
            </div>
        </div>
    </div>
</section>