<section class="wrapper w3-center w3-padding">
    <h1 class="w3-text-teal">Informativa</h1>
    <div class="">
        <div class="w3-left-align">
            <strong class="w3-tag w3-teal">Informativa sulla privacy</strong><br>
            I dati forniti a "Sito Tranquillo" nelle pagine dei siti web raggiungibili tramite heroku.com al 
            momento della registrazione e successivamente per l'utilizzo dei servizi di volta in volta forniti da 
            "Sito Tranquillo" saranno trattati nel rispetto delle disposizioni di cui al Decreto Legislativo 196/2003 in 
            materia di protezione dei dati personali ("Codice della Privacy"). Ai sensi dell'articolo 13 del Codice 
            della Privacy, "Sito Tranquillo" informa l'utente di quanto segue.
            
            <br><br>
            
            <strong class="w3-tag w3-teal">Finalità del trattamento</strong><br> 
            Il trattamento dei dati, per i quali "Sito tranquillo" richiede il consenso, si rende necessario per assolvere 
            esclusivamente a finalità direttamente connesse e strumentali all'attivazione ed al funzionamento dei servizi 
            forniti da "Sito Tranquillo" e quindi all'adempimento degli obblighi contrattuali assunti da "Sito Tranquillo" nei 
            confronti degli utenti dei servizi, per l'adempimento agli obblighi previsti dalla legge, da un regolamento o dalla 
            normativa comunitaria e per l'esercizio dei propri diritti in sede giudiziaria. Tali finalità comprendono:
            <li>l'erogazione dei servizi richiesti</li>
            <li>la manutenzione e assistenza tecnica relativa ai servizi</li>
            <li>la gestione di eventuali reclami e/o contenziosi</li>
            <li>la prevenzione/repressione di frodi e di qualsiasi attività illecita</li>
            <li>l'archiviazione dei dati personali presso server farm situate nell'Unione Europea sotto il diretto controllo del titolare e senza alcun trattamento da parte del gestore della server farm</li>
            <li>la registrazione del dominio di secondo livello, a seconda del tipo prescelto, presso le competenti autorità internazionali (Registration Authorities, quali ICANN - Internet Corporation for Assigned Names and Numbers o NIC - Network Information Center)</li>
            <li>Ti informiamo che il conferimento dei dati per queste finalità è obbligatorio. In caso di rifiuto, risulterà impossibile completare il processo di registrazione e "Sito Tranquillo" non potrà erogarti i servizi richiesti.</li>
            Previo Tuo espresso consenso e fino alla revoca dello stesso, i Tuoi dati personali potranno essere trattati direttamente - anche tramite una o più tecniche di comunicazione a distanza e/o sistemi automatizzati senza l'intervento di un operatore - oltre che per le finalità di cui al punto A), anche per la seguente finalità non strettamente collegata all'erogazione dei servizi richiesti, ovvero per invio di comunicazioni commerciali da parte di terzi.
            Il conferimento dei dati per la finalità di cui al presente paragrafo B) è facoltativo e dunque il rifiuto del consenso non produrrà alcuna conseguenza sull'erogazione dei servizi.
                
            <br><br>

            <strong class="w3-tag w3-teal">Comunicazione dei dati</strong><br> 
            All'interno di "Sito Tranquillo" i tuoi dati personali saranno trattati dai dipendenti addetti al servizio di customer care,
            che operano sotto la diretta autorità dei Responsabili del trattamento, se nominati, e che sono designati Incaricati 
            del trattamento, avendo ricevuto, al riguardo, adeguate istruzioni operative nell'ambito delle rispettive funzioni.
            <br>
            I dati personali dell'utente possono essere altresì comunicati, per le finalità sopra indicate, in via obbligatoria e 
            necessaria all'erogazione dei servizi, esclusivamente a:
            <li>persone, società o studi professionali, che prestino attività di assistenza, consulenza o collaborazione a 
                SitoTranquillo in materia contabile, amministrativa, legale, tributaria e finanziaria;</li>
            <li> a Pubbliche Amministrazioni per lo svolgimento delle funzioni istituzionali nei limiti stabiliti dalla legge o dai regolamenti.</li>
            I dati dell'utente non sono soggetti a diffusione, salvo il caso di inserimento obbligatorio 
            nei database delle Registration Authorities aventi competenza sui domini registrati, che siano accessibili al 
            pubblico tramite Internet e salvo il caso previsto dalle lettere e) ed f) della sezione B) dell'art. 2 e previo suo espresso consenso.

            <br><br>

            <strong class="w3-tag w3-teal">Modalità del trattamento</strong><br> 
            I dati vengono raccolti per via telematica, direttamente presso l'utente e trattati mediante operazioni di registrazione, 
            consultazione, comunicazione, conservazione, cancellazione, effettuate anche con l'ausilio di strumenti elettronici, 
            assicurando l'impiego di misure idonee per la sicurezza dei dati trattati e garantendo la riservatezza dei medesimi.
            Titolare del trattamento dei dati personali è "Sito Tranquillo"
            <br>
            I dati dell'utente, memorizzati su supporto elettronico, sono custoditi e archiviati su server situati nell'Unione Europea, 
            ma sotto il diretto controllo del titolare. In particolare, il titolare dichiara che i dati registrati sul server sono protetti 
            contro il rischio di intrusione e accesso non autorizzato e di avere altresì adottato misure di sicurezza idonee a garantire 
            l'integrità e la disponibilità dei dati nonché la protezione delle aree e dei locali rilevanti ai fini della loro custodia e accessibilità.
            
            <br><br>

            <strong class="w3-tag w3-teal">Diritti dell'interessato</strong><br> 
            Ai sensi dell'articolo 7 del Codice della Privacy, l'utente ha diritto di ottenere, in ogni momento, 
            la conferma dell'esistenza dei dati che lo riguardano e delle finalità per cui vengono utilizzati.
            Ha altresì il diritto di chiedere l'aggiornamento o la rettifica, la cancellazione o il blocco dei dati 
            e di opporsi, in tutto o in parte, al loro trattamento.
                
            <br>
            Per esercitare i diritti sopraindicati, nonché per ricevere informazioni relative ai soggetti presso 
            cui i dati sono archiviati o ai quali i dati vengono comunicati ovvero sui soggetti che, in qualità di 
            responsabili od incaricati, possono venire a conoscenza dei suoi dati, l'utente potrà rivolgersi al titolare.
            
            <br>
            L'art. 7 del d.lgs. 196/2003 dispone: il Diritto di accesso ai dati personali ed altri diritti.
            
            <br>
            L'interessato ha diritto di ottenere la conferma dell'esistenza o meno di dati personali che lo riguardano, 
            anche se non ancora registrati, e la loro comunicazione in forma intelligibile.

            <p>L'interessato ha diritto di ottenere l'indicazione:
            <li>dell'origine dei dati personali;</li>
            <li>delle finalità e modalità del trattamento;</li>
            <li>della logica applicata in caso di trattamento effettuato con l'ausilio di strumenti elettronici;</li>
            <li>degli estremi identificativi del titolare, dei responsabili e del rappresentante designato ai sensi dell'articolo 5, comma 2;</li>
            <li>dei soggetti o delle categorie di soggetti ai quali i dati personali possono essere comunicati o che possono venirne a conoscenza 
                in qualità di rappresentante designato nel territorio dello Stato, di responsabili o incaricati.</li>
            </p>

            <p>L'interessato ha diritto di ottenere:
            <li>l'aggiornamento, la rettificazione ovvero, quando vi ha interesse, l'integrazione dei dati;</li>
            <li>la cancellazione, la trasformazione in forma anonima o il blocco dei dati trattati in violazione di legge, 
            compresi quelli di cui non è necessaria la conservazione in relazione agli scopi per i quali i dati sono stati 
            raccolti o successivamente trattati;</li>
            <li>l'attestazione che le operazioni di cui alle lettere a) e b) sono state portate a conoscenza, anche per quanto 
            riguarda il loro contenuto, di coloro ai quali i dati sono stati comunicati o diffusi, eccettuato il caso in cui
            tale adempimento si rivela impossibile o comporta un impiego di mezzi manifestamente sproporzionato rispetto al diritto tutelato.</li>
            </p>

            <p>L'interessato ha diritto di opporsi, in tutto o in parte:
            <li>per motivi legittimi al trattamento dei dati personali che lo riguardano, oltre che pertinenti allo scopo della raccolta;</li>
            <li>al trattamento di dati personali che lo riguardano a fini di invio di materiale pubblicitario o di vendita diretta o per il 
                compimento di ricerche di mercato o di comunicazione commerciale.</li>
            </p>
            
            <br>
            
            <strong class="w3-tag w3-teal">Durata del trattamento</strong><br> 
            Il trattamento avrà una durata non superiore a quella necessaria alle finalità per le quali i dati sono 
            stati raccolti in ottemperanza agli obblighi di natura civilistica, fiscale e tributaria vigenti.
            <br><br>
        </div>
    </div>
</section>
