<script type="text/javascript" src="countries.json"></script>
<script type="text/javascript" src="provinces.json"></script>
<section class="">
    <h2 class="w3-margin-bottom w3-text-teal w3-center">Autenticazione</h2>
    <div class="wrapper w3-row">
        <div class="w3-left w3-margin-bottom">
            <div class="w3-container w3-teal">
                <hgroup>
                    <h2>Già registrato?</h2>
                    <h5>Accedi velocemente inserendo la mail di registrazione
                        <wbr> e la tua password</h5>
                </hgroup>

            </div>
            <div class="w3-light-grey">
                <!--#### LOGIN ####-->
                <form class="w3-container w3-card-4" method="post" action="#esegui le operazioni di login.non lo so">
                    <!--method e action - Se queste proprietà vengono omesse, il contenuto della form sarà inviato all’URL corrente attraverso il metodo POST
        -->
                    <p>
                        <label for="email" required>Email:</label>
                        <input class="w3-input w3-border w3-round" name="indirizzo email" type="email" id="email">
                    </p>

                    <p>
                        <label for="password">Password:</label>
                        <input class="w3-input w3-border w3-round" name="password" type="password" id="password">
                    </p>

                    <p>
                        <input class="w3-button button-login w3-red" name="login" type="submit" value="login">
                    </p>
                </form>
            </div>
        </div>


        <!--#### REGISTRAZIONE ####-->
        <div class="w3-right w3-margin-bottom">
            <div class="w3-container w3-teal">
                <hgroup>
                    <h2>Non sei registrato?</h2>
                    <h5>Creando un nuovo account su Sito Tranquillo sarai in grado di acquistare<br> velocemente, essere sempre aggiornato sullo stato dei tuoi ordini e<br> ricevere offerte e promozioni.</h5>
                </hgroup>
            </div>
            <div class="w3-light-grey">
                <form class="w3-container w3-card-4" method="post" action="#esegui le operazioni di login.non lo so">
                    <!--method e action - Se queste proprietà vengono omesse, il contenuto della form sarà inviato all’URL corrente attraverso il metodo POST
                    -->
                    <p>
                        <label for="Nome" required>Nome:</label>
                        <input class="w3-input w3-border w3-round" name="nome" type="text" id="nome">
                    </p>

                    <p>
                        <label for="Cognome" required>Cognome:</label>
                        <input class="w3-input w3-border w3-round" name="cognome" type="text" id="cognome">
                    </p>

                    <p>
                        <label for="email" required>Email:</label>
                        <input class="w3-input w3-border w3-round" name="email" type="email" id="email">
                    </p>

                    <p>
                        <label for="address" required>Indirizzo:</label>
                        <input class="w3-input w3-border w3-round" name="indirizzo" type="text" id="indirizzo">
                    </p>

                    <!-- GESTIONE STATO E PROVINCE -->
                    <span ng-controller="controllerStatesAndProvinces">
                    <p>
                       <label for="state" required>Stato:
                        <!--
                            NON SO COSA FARCI 
                            <input class="w3-input w3-border w3-round" type="text" name="stati" list="states" />
                        -->
                            <select class="w3-input w3-border w3-round" ng-model="country">
                                <option value="{{country}}" ng-repeat="country in countries.name">{{country}}</option>
                            </select>
                            </label>
                    </p>

                    <p ng-show="country == 'Italy'">
                        <!-- Da modificare per il recupero nel database  -->
                        <label for="province" required>Provincia:
                         <!--
                            NON SO COSA FARCI 
                            <input class="w3-input w3-border w3-round" type="text" name="province" list="provinces" />
                         -->
                         <select class="w3-input w3-border w3-round check-element animate-show-hide"  ng-model="province">
                                <option value={{province}} ng-repeat="province in provinces.name">{{province}}</option>
                            </select>
                        </label>
                    </p>
                    </span>
                    <p>
                        <label for="telefono" required>Telefono</label>
                        <input class="w3-input w3-border w3-round" type="tel" id="telefono" name="telefono">
                    </p>

                    <p>
                        <label for="password">Password:</label>
                        <input class="w3-input w3-border w3-round" name="password" type="password" id="password">
                    </p>

                    <p>
                        <label for="password">Conferma Password:</label>
                        <input class="w3-input w3-border w3-round" name="confermapassword" type="password" id="password">
                    </p>

                    <p>
                        <input type="checkbox" name="accettoTermini" value="false" /> Accetto i termini e le condizioni autorizzando il trattamento <br/> dei miei dati personali ai sensi dell'<a href="/informativa" style="color:blue">informativa</a>
                    </p>

                    <p>
                        <input class="w3-button button-login w3-red" name="login" type="submit" value="registrati">
                    </p>
            </div>
            </form>
        </div>
    </div>
</section>