<section class="">
    <h2 class="w3-margin-bottom w3-text-teal w3-center">Autenticazione</h2>
    <div class="wrapper w3-row">
        
        <!--#### LOGIN ####-->
       
        <div class="w3-col l5 m12 w3-card-4 w3-margin-bottom w3-margin-right">
            
            <div class="w3-container w3-teal">
                <hgroup>
                    <h2 class="w3-center">Già registrato?</h2>
                    <h5>Accedi velocemente inserendo la mail di registrazione e la tua password</h5>
                </hgroup>

            </div>
            
            <div class="w3-container pa-15 w3-light-grey">
                
                <form method="post" action="/api/v1.0/utenti/login">
                   
                    <p class="w3-margin-top">
                        <label for="email" required>Email:</label>
                        <input class="w3-input w3-border" name="indirizzo email" type="email" id="email" required>
                    </p>

                    <p class="w3-margin-top">
                        <label for="password">Password:</label>
                        <input class="w3-input w3-border" name="login-password" type="password" id="login-password" required>
                    </p>

                    <p>
                        <input class="w3-button button-login w3-red" name="login" id="login" type="submit" value="login">
                    </p>
                </form>
            </div>
        </div>
 
        <!--#### REGISTRAZIONE ####-->
        <div class="w3-col l5 m12 w3-right w3-card-4 w3-margin-bottom w3-margin-left">
            
            <div class="w3-container w3-teal">
                <hgroup>
                    <h2 class="w3-center">Non sei registrato?</h2>
                    <h5>Creando un nuovo account su Sito Tranquillo sarai in grado di acquistare velocemente, essere sempre aggiornato sullo stato dei tuoi ordini e ricevere offerte e promozioni.</h5>
                </hgroup>
            </div>
            
            <div class="w3-container pa-15 w3-light-grey">
                <form method="post" action="/api/v1.0/utenti/registrazione">
                    <!--method e action - Se queste proprietà vengono omesse, il contenuto della form sarà inviato all’URL corrente attraverso il metodo POST
                    -->
                    <p class="w3-margin-top">
                        <label for="Nome" required>Nome:</label>
                        <input class="w3-input w3-border" type="text" name="nome" id="nome" placeholder="Antonio"
                        pattern="[A-Z][a-z]{2,10}" title="Prima lettera MAIUSCOLA. Minimo 2 caratteri, massimo 10." required/>
                    </p>

                    <p class="w3-margin-top">
                        <label for="Cognome" required>Cognome:</label>
                        <input class="w3-input w3-border" name="cognome" type="text" id="cognome" placeholder="Zappalavigna"
                        pattern="[A-Z][a-z]{2,15}" title="Prima lettera MAIUSCOLA. Minimo 2 caratteri, massimo 15."/ required>
                    </p>

                    <p class="w3-margin-top">
                        <label for="email" required>Email:</label>
                        <input class="w3-input w3-border" name="email" type="email" id="email" placeholder="richard@stallman.org" 
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,13}$" title="Mail non valida."/ required>
                    </p>

                    <p class="w3-margin-top">
                        <label for="address" required>Indirizzo:</label>
                        <input class="w3-input w3-border" name="indirizzo" type="text" id="indirizzo" placeholder="Via Federico Confalonieri 4"
                        pattern="[A-Za-z0-9'.-.*\s]{5,50}" title="Lettere, numeri, - , . "/ required>
                    </p>

                    <!-- GESTIONE STATO E PROVINCE -->
                    <p class="w3-margin-top">
                        <label for="state" required>Stato:                     
                            <select class="w3-input w3-border w3-round" class="minimal" ng-model="country"/ required>
                                <option default>Italy</option>
                                <option value="{{country}}" ng-repeat="country in $ctrl.countries.name">{{country}}</option>
                            </select>
                            </label>
                    </p>

                    <p ng-show="country == 'Italy'" class="w3-margin-top">
                        <label for="province" required>Provincia:
                         <select class="w3-input w3-border w3-round" class="minimal" ng-model="province"/ required>
                                <option value={{province}} ng-repeat="province in $ctrl.provinces.name">{{province}}</option>
                            </select>
                        </label>
                    </p>

                    <p ng-show="country == 'Italy'" class="w3-margin-top">
                        <label for="Nome" required>Comune:</label>
                        <input class="w3-input w3-border" type="text" name="comune" id="comune" placeholder="Apiro"
                        pattern="[A-Z][a-z]{2,20}" title="Prima lettera MAIUSCOLA. Minimo 2 caratteri, massimo 20." required/>
                    </p>
                    <!-- FINE GESTIONE STATO E PROVINCE -->

                    <p class="w3-margin-top">
                        <label for="telefono" required>Telefono</label>
                        <!-- pattern pensato solo per numeri italiani di cellulare o fisso e cmq non troppo specifico nel prefisso -->
                        <input class="w3-input w3-border w3-round" type="tel" id="telefono" name="telefono" placeholder="0238591444"
                        pattern="[03][0-9]{9}" title="Massimo 10 cifre"/ required>
                    </p>

                    <p class="w3-margin-top">
                        <label for="password">Password:</label>
                        <input class="w3-input w3-border w3-round" name="password" type="password" id="password" placeholder="Questa2embra1passComple224!"
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Almeno un NUMERO, un carattere MAIUSCOLO ed uno MINUSCOLO. Deve essere di almeno 8 caratteri"/>
                    </p>

                    <p class="w3-margin-top">
                        <label for="password">Conferma Password:</label>
                        <input class="w3-input w3-border w3-round" name="conferma-password" type="password" id="conferma-password" placeholder="Dovo davvero dirti cosa ci va qui?" required/>
                    </p>
                    
                    <p class="w3-margin-top">
                        <label for="Nome" required>Domanda segreta:</label>
                        <input class="w3-input w3-border" type="text" name="domanda_segreta" id="domanda_segreta" placeholder="Qual'è il mio sistema operativo preferito"
                        pattern="[A-Za-z0-9ñÑáéíóúüòàèù'.-.*\s]{5,50}" title="Non inserire punti interrogativi o altri caratteri speciali" required/>
                    </p>

                    <p class="w3-margin-top">
                        <label for="Cognome" required>Risposta segreta:</label>
                        <input class="w3-input w3-border" name="risposta_segreta" type="text" id="risposta_segreta" placeholder="Windows Vista"
                        pattern="[A-Za-z0-9ñÑáéíóúüòàèù'.*\s]{5,50}" title="non inserire punti esclamativi o altri caratteri speciali"/ required>
                    </p>

                    <p class="w3-container w3-border w3-margin-top">
                        <input class="w3-check" type="checkbox" name="accettoTermini" value="false" required /> Accetto i termini e le condizioni autorizzando il trattamento <br/> dei miei dati personali ai sensi dell'<a href="/informativa" style="color:blue">informativa</a>
                    </p>

                    <p>
                        <input class="w3-button button-login w3-red" name="login" type="submit" value="registrati"/>
                    </p>
            </div>
            </form>
        
    </div>
    </div>
</section>